<section class="main-container">
    <div></div>

    <article class="event-card">
        <h3 class="title"><%= @event.title %></h3>

        <%# https://apidock.com/ruby/DateTime/strftime %>
        <div>
            <small class="date"><%= @event.date.strftime("%a, %b %d, %Y %I:%M %p") %> UTC<%= @event.date.strftime("%:z") %></small>
        </div>
        
        <div>
            <small class="location"><%= @event.location %></small>
        </div>

        <div>
            <small class="author">Created by <strong><%= @event.creator.username %></strong></small>
        </div>
    </article>

    <div></div>
</section>