<!DOCTYPE html>
<html>
  <head>
    <title>Private Events</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/7dd9e33801.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" %> 
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="notifications">
      <% if flash[:notice] %>
        <div class="notification notice">
          <p class="msg"><%= notice %></p>
          <span class="close-btn"><i class="fa-solid fa-xmark"></i></span>
        </div>
      <% end %>

      <% if flash[:alert] %>
        <div class="notification alert">
          <p class="msg"><%= alert %></p>
          <span class="close-btn"><i class="fa-solid fa-xmark"></i></span>
        </div>
      <% end %>
    </div>

    <header>
      <nav class="navbar">
        <div class="navbar-branding">
          <%= link_to("Private Events", root_path, class: "navbar-brand") %>
        </div>
        
        <ul class="navbar-items">
          <li class="nav-item">
              <%= link_to("Create Event", new_event_path, class: "link") %>
          </li>

          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to(current_user.username, user_path(current_user), class: "link btn-outline-primary") %>
            </li>
            <li class="nav-item">
              <%= link_to("Log Out", destroy_user_session_path, class: "link",
                          data: { turbo_method: :delete }) %>
            </li>
          <% else %>
              <li class="nav-item">
                <%= link_to("Sign In", new_user_session_path, class: "link btn-outline-primary") %>
              </li>
              <li class="nav-item">
                <%= link_to("Sign Up", new_user_registration_path, class: "link btn-primary") %>
              </li>
          <% end %>
        </ul>

        <div class="navbar-burger">
          <i class="fa-solid fa-bars navbar-burger-item"></i>
        </div>
      </nav>

      <section class="burger-menu hidden">
        <ul class="burger-items">
          <li class="burger-item">
              <%= link_to("Create Event", new_event_path, class: "link") %>
          </li>
          <% if user_signed_in? %>
            <li class="burger-item">
              <%= link_to(current_user.username, user_path(current_user), class: "link") %>
            </li>
            <li class="burger-item">
              <%= link_to("Log Out", destroy_user_session_path, class: "link",
                          data: { turbo_method: :delete }) %>
            </li>
          <% else %>
              <li class="burger-item">
                <%= link_to("Sign In", new_user_session_path, class: "link") %>
              </li>
              <li class="burger-item">
                <%= link_to("Sign Up", new_user_registration_path, class: "link") %>
              </li>
          <% end %>
        </ul>
      </section>
    </header>

    <%= yield %>
  </body>
</html>
